path {
    fill: transparent;
    stroke: black;
}

.comunas {
    transform-box: fill-box;
    transform-origin: center;
}

.barrios {
    opacity: 0;
    transition: all 200ms;
}

.barrios path {
    stroke: transparent;
    stroke-width: 0.1em;
    fill: yellow;
    stroke: green;
}

.comuna:hover .barrios, .selected .barrios{
    opacity: 1;
}

.comuna:hover .comuna-text {
    opacity: 0;
}

.barrios use {
    opacity: 0;
}

.selected .barrios path {
    fill: transparent;
}
.selected .barrios use {
    opacity: 1;
}

.selected .barrios text {
    opacity: 0;
}
